## Author

lunelogie

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- List popular libraries for Data Science
- Understand basic arithmetic expressions in Python.
- Convert time units (e.g., minutes to hours).
- Explore open-source development environments for Data Science.


Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. MATLAB

Some of the commonly used libraries used by Data Scientists include:

1. ChatGPT
2. Pandas
3. NumPy
4. Matplotlib
5. TensorFlow

| Data Science Tools  |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

Below are a few examples of evaluating arithmetic expressions in Python.

- Addition: `3 + 5`
- Subtraction: `10 - 4`
- Multiplication: `7 * 6`
- Division: `15 / 3`
- Exponentiation: `2 ** 3`
- Modulus (remainder): `10 % 3`

In [26]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [32]:
#This code will convert 200 minutes to hours by dividing them in 60

minutes=200
hours=minutes/60
hours

3.3333333333333335